.box {
  img {
    width: 100%;
    max-width: 100%;
  }

  span {
    color: #a61b25;
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
    display: block;
  }

  p {
    color: #5a5a5a;
    margin-top: 15px;
    display: block;
    font-size: 14px;
  }

  padding: 0 8px;
}
