@import "../../styles/variables";

.containerAbout {
  @include container;
  position: relative;
  background-color: $primary-color;

  // &:before,
  // &:after {
  //   content: "";
  //   position: absolute;
  //   background: $primary-color;
  //   bottom: -34px;
  //   height: 64px;
  // }

  // &:before {
  //   left: 0;
  //   width: 50%;
  //   transform: skew(0deg, 15deg);
  // }

  // &:after {
  //   right: 0;
  //   width: 50%;
  //   transform: skew(0deg, -15deg);
  // }

  .wrapper {
    @include flex-center();
    flex-direction: column;
    padding: 40px 20px;

    .title {
      @include flex-center();

      color: $white-color;
      font-size: 28px;
      font-style: italic;
      margin-top: 15px;
      position: relative;
      text-align: center;
    }

    .description {
      color: $white-color;
      font-style: initial;
      display: block;
      margin-top: 35px;
      font-size: 14px;
      line-height: 16px;
      text-align: justify;

      border-top: 3px solid rgba(226, 226, 226, 0.5);
      padding-top: 20px;
    }

    a {
      color: $second-color;
      font-size: 18px;
      width: 80%;
      margin-top: 30px;
      background: transparent;
      border: 1px solid #ff7556;
      border-radius: 50px;
      height: 35px;
      font-style: italic;
      text-decoration: none;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
