@import "../../styles/variables";

.containerAbout {
  @include container;
  position: relative;
  background-color: $primary-color;

  // &:before,
  // &:after {
  //   content: "";
  //   position: absolute;
  //   background: $primary-color;
  //   bottom: -34px;
  //   height: 64px;
  // }

  // &:before {
  //   left: 0;
  //   width: 50%;
  //   transform: skew(0deg, 15deg);
  // }

  // &:after {
  //   right: 0;
  //   width: 50%;
  //   transform: skew(0deg, -15deg);
  // }

  .wrapper {
    @include flex-center();
    flex-direction: column;
    padding: 40px 20px;

    .title {
      @include flex-center();

      color: $white-color;
      font-size: 28px;
      font-style: italic;
      margin-top: 15px;
      position: relative;
      text-align: center;

      &:after {
        content: "";
        position: absolute;
        background: #e2e2e2;
        height: 4px;
        width: 300px;
        bottom: -30px;
      }
    }

    .description {
      color: $white-color;
      font-style: initial;
      display: block;
      margin-top: 60px;
      font-size: 14px;
    }

    .button {
      color: $second-color;
      font-size: 18px;
      width: 80%;
      margin-top: 30px;
    }
  }
}
