.box {
  img {
    width: 100%;
    max-width: 100%;
  }

  span {
    color: #a61b25;
    font-size: 16px;
    margin-top: 15px;
    display: block;
    font-style: italic;

    strong {
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      margin-top: 5px;
    }
  }

  p {
    color: #5a5a5a;
    margin-top: 15px;
    display: block;
    font-size: 14px;
  }

  a {
    color: #ff7556;
    display: block;
    margin-top: 15px;
  }

  padding: 0 8px;
}
