@import "variables";

.main {
  padding: 90px 20px 0;

  @include desktop {
    padding: 90px 50px 0;
  }

  .wrapperTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    svg {
      width: 50px;
    }

    .title {
      margin-top: 2px;
    }
  }

  .description {
    display: block;
    margin-top: 15px;
    color: $text-color;
    font-size: 14px;
    line-height: 16px;

    strong {
      font-weight: bold;
      display: block;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    @include desktop {
      width: 50%;
      margin: 0 auto;
      margin-top: 15px;
    }
  }

  .last {
    @include desktop {
      border-bottom: 2px solid #eeeeee;
      padding-bottom: 30px;
      margin-bottom: 60px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-top: 30px;
      width: 50%;
      padding: 0 13px;

      @include desktop {
        width: 33%;
      }

      img {
        width: 100%;
        max-width: 100%;
      }

      span {
        font-size: 16px;
        color: $title-color;
        font-style: italic;
        display: block;
        margin-top: 8px;
      }

      p {
        color: $text-color;
        font-size: 14px;
        display: block;
        margin-top: 8px;
      }
    }
  }
}
