@import "variables";

.main {
  padding: 90px 20px 0;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-top: 40px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include desktop {
        width: 25%;
      }

      label {
        color: $text-color;
        margin-top: 10px;
      }
    }
  }

  .textNotify {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 13px;
  }

  .description {
    color: $text-color;
    text-align: center;
    font-size: 14px;
    display: block;
    margin-top: 20px;
  }

  .text {
    width: 100%;
    p {
      color: $text-color;
      text-align: center;
      font-size: 14px;
      width: 100%;
    }

    @include desktop {
      border-top: 2px solid #ededed;
      padding-top: 40px;
    }
  }

  .radioGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    li {
      width: auto;

      &:first-child {
        margin-right: 60px;
      }
    }
  }

  input[type="submit"] {
    color: $second-color;
    font-size: 18px;
    width: 300px;
    margin: 30px auto 0;
    background: transparent;
    border: 1px solid #ff7556;
    border-radius: 50px;
    height: 35px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;

    @include desktop {
      max-width: 900px;
      margin: 0 auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
      border: 1px solid $second-color;
      background: transparent;
      margin-top: 5px;
      color: $text-color;
      font-size: 15px;

      &::placeholder {
        color: #c8c6c6;
        font-style: italic;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="number"] {
      height: 40px;
      padding: 0 10px;
    }

    textarea {
      height: 120px;
      padding: 15px 10px;
    }

    input[type="submit"] {
      width: 40%;
      margin: 0 auto;
      border-radius: 20px;
      margin-top: 20px;
      color: $second-color;
    }
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    label {
      font-size: 0;
      width: 100%;

      input,
      textarea {
        width: 100%;
      }
    }

    @include tablet {
      margin: 0 auto;
      width: 60%;
    }

    & + .formGroup {
      margin-top: 60px;
    }
  }

  .formFlex {
    @include desktop {
      flex-direction: row;

      label {
        width: 48%;

        &:first-child {
          margin-right: 2%;
        }

        input {
          width: 100%;
        }
      }
    }
  }

  .formColumn {
    @include desktop {
      margin: 0 auto;
      width: 60%;
      align-items: center;
      justify-content: center;

      input,
      textarea {
        width: 100%;
      }
    }
  }
}
