$primary-color: #543d3f;
$second-color: #ff7556;
$white-color: #fff;
$text-color: #5a5a5a;
$title-color: #a61b25;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin container {
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  padding: 0 15px;
  background-color: $white-color;

  .wrapper {
    @include flex-space();
    height: 60px;
  }

  .logo {
    width: 120px;
  }

  .menu {
    cursor: pointer;
    position: relative;
    width: 30px;

    &.menuActive {
      .menuTop {
        backface-visibility: hidden;
        top: 0;
        transform: rotate(50deg);
        transition: 0.55s 0.5s;
      }

      .menuMiddle {
        opacity: 0;
      }

      .menuBottom {
        backface-visibility: hidden;
        top: 0;
        transform: rotate(-410deg);
        transition: 0.55s 0.5s;
      }
    }

    .menuBurger {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 5px solid #864047;
      width: 100%;
      transition: 0.55s;
      border-radius: 7px;
    }

    .menuTop {
      top: 0;
    }
    .menuMiddle {
      top: 8px;
    }
    .menuBottom {
      top: -8px;
    }
  }
}

.main {
  .bannerTop {
    padding-top: 60px;

    a {
      display: block;
    }

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .containerAbout {
    @include container;
    position: relative;
    margin-top: -20px;
    background-color: $primary-color;

    // &:before,
    // &:after {
    //   content: "";
    //   position: absolute;
    //   background: $primary-color;
    //   bottom: -34px;
    //   height: 64px;
    // }

    // &:before {
    //   left: 0;
    //   width: 50%;
    //   transform: skew(0deg, 15deg);
    // }

    // &:after {
    //   right: 0;
    //   width: 50%;
    //   transform: skew(0deg, -15deg);
    // }

    .wrapper {
      @include flex-center();
      flex-direction: column;
      padding: 40px 20px;

      .title {
        @include flex-center();

        color: $white-color;
        font-size: 28px;
        font-style: italic;
        margin-top: 15px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          background: #e2e2e2;
          height: 4px;
          width: 300px;
          bottom: -30px;
        }
      }

      .description {
        color: $white-color;
        font-style: initial;
        display: block;
        margin-top: 60px;
      }

      .button {
        color: $second-color;
        font-size: 18px;
        width: 80%;
        margin-top: 30px;
      }
    }
  }

  .containerReferees {
    width: 100%;
    // padding-left: 15px;
    margin-top: 80px;
  }
}
