@import "variables";

.main {
  padding: 90px 0 0;

  .wrapperTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 30px;
      margin-right: 20px;
    }

    span {
      margin-top: 0;
    }
  }

  .wrapperImage {
    margin-top: 40px;
    background: url("../public/notice-intern.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;

    .date {
      color: $white-color;
      display: block;
      padding-top: 115px;
      font-size: 15px;
      padding-left: 20px;

      @include desktop {
        width: 70%;
        margin: 0 auto;
      }
    }

    .title {
      color: $white-color;
      display: block;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      font-style: italic;

      @include desktop {
        width: 70%;
        margin: 0 auto;
      }
    }
  }

  .text {
    color: $text-color;
    font-size: 14px;
    display: block;
    margin-top: 30px;
    padding: 0 20px;
    line-height: 18px;

    @include desktop {
      width: 70%;
      margin: 0 auto;
      padding-top: 20px;
    }
  }

  .textSugestion {
    text-align: left;
    justify-content: initial;
    padding-left: 20px;
    position: relative;

    @include desktop {
      width: 70%;
      margin: 0 auto;
      padding-left: 0;
      padding-top: 60px;
    }

    &:after {
      content: "";
      background: #e2e2e2;
      width: 100%;
      height: 2px;
      left: 0;
      position: absolute;
      bottom: -10px;
    }
  }

  .wrapper {
    @include desktop {
      width: 70%;
      margin: 0 auto;
      padding: 20px 0 0;
    }

    @include tablet {
      display: flex;
    }
  }

  .box {
    padding: 0 20px;

    @include desktop {
      width: 70%;
      margin: 0 auto;
      padding: 20px 0 0;

      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    img {
      width: 100%;
      max-width: 100%;
      margin-top: 30px;
    }

    .date {
      color: #717171;
      display: block;
      font-size: 16px;
      margin-top: 15px;
      display: block;
      text-transform: uppercase;
      font-style: italic;
    }

    .title {
      font-size: 20px;
      color: $title-color;
      margin-top: 15px;
      display: block;
    }

    .description {
      font-size: 14px;
      margin-top: 20px;
      display: block;
      color: $text-color;
    }
  }
}
